body {
    background-image: radial-gradient(circle at 6.87% 13.81%, #a9c7ff 0, #5f6b8d 50%, #1d1c18 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

header {
    padding: 2rem;
}

h1 {
    font-size: 4rem;
    padding: 1rem;
}

#metier {
    font-size: 2rem;
    padding: 1rem;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
}

.navBar__link {
    width: 15%;
    font-size: 14px;
    background-color: #5f6b8d;
    padding: 10px 30px;
    border: 2px solid #5f6b8d;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    justify-content: space-around;
    }

.navBar__link:hover{
    transition : 1212ms;
    padding: 10px 36px;
    transform : translateY(-10px);
    background-color: #fff;
    color: #5f6b8d;
    border: solid 2px #5f6b8d;
}
